body {
  background-color: #F0F0F0;
  font-family: "Moderustic", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

#convert {
  display: flex;
  flex-direction: column;
}

label {
  text-align: center;
  font-size: 1.5rem;
}

#original, #new {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #0042AD;
  box-shadow: 2px 2px 0.5em 0.5em lightgray;
  height: 125px;
  width: 70%;
  margin: auto;
}

#len1, #len2, #wid1, #wid2 {
  width: 50%;
  height: 40px;
  margin: auto;
  padding-left: 10px;
  font-family: "Moderustic", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#choose {
  padding-left: 10px;
}

#submit, #reset, #choose {
  width: 20%;
  height: 50px;
  margin: auto;
  background-color: lightgray;
  font-family: "Moderustic", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}